<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-bfggps64mt3pg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3725d2ba-9e32-4c51-96d9-af445f4cd20d/resourceGroups/hands-on-lab-T0BEHUTYLD/providers/Microsoft.Web/sites/TollBoothFunctions-bfggps64mt3pg</ResourceId>
    <UserName>$TollBoothFunctions-bfggps64mt3pg</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tollboothfunctions-bfggps64mt3pg.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>